.head-image {
  background-image: url("../img/head-image.png");
  background-size: cover;
  background-position: top;
  height: 650px;
  width: 100%;
  background-repeat: no-repeat;
}

.avatar {
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  display: block;
}

.fas {
  color: black;
  font-size: 50px;
}
.fas.fa-space-shuttle:hover {
  color: black;
}

.fas:hover {
  color: blue;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-instagram {
  color: transparent;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-linkedin.a {
  color: #007bb6;
}

.fli {
  width: 70px;
}

h5 {
  font-family: serif;
  margin-top: 5px;
  font-size: 1em;
}

.img-programation {
  filter: grayscale(100%);
  max-width: 80px;
  max-height: 80px;
  margin: 10px;
}

.img-programation:hover {
  filter: grayscale(0%);
  max-width: 100px;
  max-height: 100px;
}

.box {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.container-fluid.image-back {
  background-image: url("../img/head-image.jpg");
  background-size: 0 !important;
}

.overlay {
  background-size: 200px;
}

.portofolio {
  background-image: url("../img/portofolio.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  border-style: solid;
  border-color: purple;
  background-repeat: no-repeat;
}

.lior {
  background-image: url("../img/carousel-lior/3.png");
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: purple;
}

.stage {
  background-image: url("../img/stage.png");
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: purple;
}

.btn.btn-info.btn-lg.button-modal {
  position: absolute;
  bottom: 0px;
  right: 45%;
  background-color: black;
}

.view-code {
  color: darkblue;
  width: 15px;
  height: 10;
  border-style: double;
  border-color: black;
  letter-spacing: 1px;
}

.view-code:hover {
  background-color: darkblue;
  color: white;
}

footer {
  border-top: 0.3em inset black;
  background-color: ivory;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: rgb(12, 11, 19);
  color: white;
}

.google {
  background: #bb0000;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

html {
  scroll-behavior: smooth;
}

.laptop {
  height: 200px;
  width: 200px;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.laptop:hover {
  color: white;
}

.fas.fa-laptop:hover {
  color: white;
}

.fas.fa-code:hover {
  color: white;
}

.nav a:hover {
  text-decoration: none;
}

.nav a {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-weight: 400;
}

.nav ul li{
  display: inline;
  margin-right: 15px;
}

.nav ul {
  margin-top: 20px;
  padding-bottom: 10px;
}

.nav {
  transition: 0.6s;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-hidden{
	display: none;
}

.nav-color {
  background-color: black;
  transition: 0.8s;
  z-index: 5;
}

.contact {
  margin-right: 15px;
}

.brand a {
  letter-spacing: 1, 2px;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  left: 20px;
}

.conteneur {
  display: flex;
  background-color: honeydew;
}

.conteneur p {
  font-size: 1.2em;
}

.column {
  text-align: center;
  padding: 10px;
}



@media only screen and (max-width: 768px) {
  .conteneur {
    display: flex;
    flex-direction: column;
  }

  .column {
    margin: 40px 0;
  }

  .nav{
	  display: flex;
	  flex-direction: column;
  }
  .nav ul li{
	display: block;
	margin-top: 7px;
	margin-left: 18px;
  }
}
